target
.classpath
.project
.settings
.idea
war
*.iml
*.ipr
*.ids
*.iws
*~
*.json
*.bak
*.jar
*.war
*.class
dependency-reduced-pom.xml.DS_Store
maven-wrapper.jar
dependency-reduced-pom.xml
gradle
gradlew
gradlew.bat
.gradle
.mvn
gradle
gradlew
gradlew.bat
.gradle
.idea/
