target
**/target
*.class
*.iml
*.log
*/target
.gradle
.idea
/gradle/
/out/
/superannuate
/superannuate/superannuated1909.fwf
/superannuated1909.fwf
/target/
build
superannuate
target*.ipr
*.iws
/cursor/pom.xml.versionsBackup
/lillypads/pom.xml.versionsBackup
/trie/pom.xml.versionsBackup
/vector-like/pom.xml.versionsBackup
/pom.xml.versionsBackup
/.mvn/wrapper/maven-wrapper.jar
/superannuate/superannuated1909.fwf
/cursor/${project.build.directory}/
*.releaseBackup
